---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTitle = "404 - page not found"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>This page does not exist. Go back to the <a href="/">home page</a> and try againe</h2>
</BaseLayout>